@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */

:root {
    --anim-speed: .4s;
    --aqua-base-color: aqua;
    --success-base-color: #65ff2d;
    --secondary-base-color: #efff0b;
    --hover-color: orange;
    --good:#65ff2d;
    --bad: rgb(255, 0, 0);
    --lock: #efff0b;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    overflow: hidden;
    background-image: url(../img/bg/bg1.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
    user-select: none;
}

#join-game-overlay {
    position: absolute;
    z-index: 100;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .9;
    /* display: none; */
    transition: opacity 1s;
}
.join-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;    
}
#name-field{
    font-size: x-large;
    text-align: center;
}
#title{
    font-size: 200px;
}

.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blur {
    backdrop-filter: blur(5px);
}

#user-list {
    position: absolute;
    opacity: .8;
    font-size: x-large;
    list-style: none;
}

.user.bad {
    color: var(--red);
}

.user.good {
    color: var(--green);
}

#settings-toolbar {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 100%;
    background-color: grey;
    /* z-index: 1000; */
    transition: .3s ease-in;
}

#table {
    position: absolute;
    border: solid black 3px;
    z-index: -10;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#countdown-clock {
    position: absolute;
    width: 100%;
    z-index: 101;
    display: none;
}

#timer {
    display: none;
}


#game-start-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    /* background-color: black; */
    background-image: url(../img/bg/lightning2.gif);
    background-size: cover;
    transition: top 1s;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    color: red;
}

#game-start-message h1, h2 {
    transform: scale(2);
}

#game-start-message h2 {
    transition: opacity 1.5s ease-in;
    opacity: 0;
}
.game-end-content {
    display: none;
}

.slam {
    animation: slam-anim 1s ease-in;
}

/* ---------------
        Buttons
------------------*/
.taskbar {
    position: absolute;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.taskbar a{
    display: none;
}

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 80px;
    margin: 20px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
}

.horizontal.aqua {
    border: 7px solid var(--aqua-base-color);
}
.horizontal.success {
    border: 7px solid var(--success-base-color);
}
.horizontal.secondary {
    border: 7px solid var(--secondary-base-color);
}

.horizontal .text {
    position: relative;
    color: transparent;
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
}

.horizontal.aqua .text {
    background-image: linear-gradient( 90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--aqua-base-color) 50%, var(--aqua-base-color) 100%);
}
.horizontal.success .text {
    background-image: linear-gradient( 90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--success-base-color) 50%, var(--success-base-color) 100%);
}
.horizontal.secondary .text {
    background-image: linear-gradient( 90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--secondary-base-color) 50%, var(--secondary-base-color) 100%);
}

.horizontal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
}

.horizontal.aqua::before {
    background: var(--aqua-base-color);
}
.horizontal.success::before {
    background: var(--success-base-color);
}
.horizontal.secondary::before {
    background: var(--secondary-base-color);
}

.horizontal:hover .text {
    background-position: 0 0;
}

.horizontal:hover::before {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
}
.horizontal.active .text{
    background-position: 0 0;
}
.horizontal.active::before {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
}

/* ---------------
         
------------------*/

/*--------------------
        CARDS
 ---------------------*/

/* Card Aspect Ratio: 1.4 */
.card {
    width: 150px;
    height: 210px;
    background-size: cover;
    z-index: 100;
    border-radius: 10px;
    transition: transform var(--anim-speed);
    background-size: cover;
    background-repeat: no-repeat;
}

.card:hover {
    transform: scale(1.1);
    /* animation: reveal-card-anim 1s; */
    /* background-image: url(../img/cards/robber.jpg); */
    cursor: pointer;
}

.card span {
    position: absolute;
    top: 215px;
    text-align: center;
    font-size: x-large;
    width: 100%;
    /* text-shadow: 1px 1px 1px 1px #000000; */
}

.card .crosshair {
    background-image: url(../img/crosshair.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -50;
    top: -25;
    width: 250px;
    height: 310px;
}
.card .locked{
    animation: lock-card-anim .3s, glowing-anim 3s infinite;
    position: absolute;
    background-image: url(../img/cards/lock.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
@keyframes glowing-anim{
    0% { box-shadow: 0 0 -10px var(--lock); }
    40% { box-shadow: 0 0 20px var(--lock); }
    60% { box-shadow: 0 0 20px var(--lock); }
    100% { box-shadow: 0 0 -10px var(--lock); }
}
.villager {
    background-image: url(../img/cards/villager.jpg);
    box-shadow: 0 0 20px var(--good);
    color: var(--good);
}

.wolf {
    background-image: url(../img/cards/wolf.png);
    box-shadow: 0 0 20px var(--bad);
    color: var(--bad);
}

.tanner {
    background-image: url(../img/cards/tanner.jpg);
    box-shadow: 0 0 20px gold;
    color: gold;
}

.robber {
    background-image: url(../img/cards/robber.jpg);
    box-shadow: 0 0 20px var(--good);
    color: var(--good);
}

.alpha {
    background-image: url(../img/cards/alpha.jpg);
    box-shadow: 0 0 20px var(--bad);
    color: var(--bad);
}

.hidden-card {
    background-image: url(../img/cards/back.jpg);
    color: aqua;
}

.new-card {
    animation: new-card-anim var(--anim-speed);
}

.reveal-card-robber {
    /* transform: rotateY(180deg) scaleX(-1); */
    animation: reveal-card-anim-robber 1s ;
}
.reveal-card-villager {
    /* transform: rotateY(180deg) scaleX(-1); */
    animation: reveal-card-anim-villager 1s ;
}
.reveal-card-wolf {
    /* transform: rotateY(180deg) scaleX(-1); */
    animation: reveal-card-anim-wolf 1s ;
}
.reveal-card-alpha {
    /* transform: rotateY(180deg) scaleX(-1); */
    animation: reveal-card-anim-alpha 1s ;
}
.reveal-card-tanner {
    /* transform: rotateY(180deg) scaleX(-1); */
    animation: reveal-card-anim-tanner 1s ;
}

@keyframes reveal-card-anim-robber {
    0%{
        left: 0px;
    }
    50%{
        left: -75px;
        transform: rotateY(-90deg) ;
    }
    100% {
        left: 0px;
        transform: rotateY(-180deg);     
        background-image: url(../img/cards/robber_reflect.jpg);

    }
}
@keyframes reveal-card-anim-villager {
    0%{
        left: 0px;
    }
    50%{
        left: -75px;
        transform: rotateY(-90deg) ;
    }
    100% {
        left: 0px;
        transform: rotateY(-180deg);     
        background-image: url(../img/cards/village_reflect.jpg);

    }
}
@keyframes reveal-card-anim-wolf {
    0%{
        left: 0px;
    }
    50%{
        left: -75px;
        transform: rotateY(-90deg) ;
    }
    100% {
        left: 0px;
        transform: rotateY(-180deg);     
        background-image: url(../img/cards/wolf_reflect.png);

    }
}
@keyframes reveal-card-anim-alpha {
    0%{
        left: 0px;
    }
    50%{
        left: -75px;
        transform: rotateY(-90deg) ;
    }
    100% {
        left: 0px;
        transform: rotateY(-180deg);     
        background-image: url(../img/cards/alpha_reflect.jpg);

    }
}
@keyframes reveal-card-anim-tanner {
    0%{
        left: 0px;
    }
    50%{
        left: -75px;
        transform: rotateY(-90deg) ;
    }
    100% {
        left: 0px;
        transform: rotateY(-180deg);     
        background-image: url(../img/cards/tanner_reflect.jpg);

    }
}


@keyframes new-card-anim {
    0% {
        transform: scale(2);
    }
    75% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lock-card-anim {
    0% {
        transform: scale(2);
    }
    75% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}